<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Nombre</h2>
            <h4>Correo</h4>
        </div>
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
    </div>
    <mat-divider></mat-divider>

    <h2 matSubheader>SubPágina</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Inicio</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/Clases">Clases</a>
    <div>
        Profile
    </div>
    
    <mat-divider></mat-divider>
    
    menu
    
    <mat-divider></mat-divider>
    
    Mis clases.  


</mat-nav-list>

